body{
  background: rgb(23,15,35);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  /* bỏ gạch ngang  */
}

a{
  text-decoration: none;
  /* bỏ dấu chấm  */
}


/* begin navigation  */
nav{
  background: rgb(35,27,46);
  max-width: 238px;
  height: 100%;
  box-shadow: 10px 2px 80px rgba(0, 0, 0, 0.034);

  display: block;
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 10; /*Hiển thị lớp trên cùng*/
  
}
nav .menu{
  position: relative;
}

nav ul li{
  width: 100%;
  display: flex;
  cursor: pointer;
  
}

nav ul li a{
  margin-left: 28px;
}

nav ul li, a{
  color: #ccc;
  line-height: 40px;
  font-weight: bold;
}
nav ul li.active{
  background: #432275;
  border-left: 2px solid #8B8791;
}
nav ul li:nth-child(3) a{
  color: #fff;
}

nav ul li:hover a{
  color: #fff;
} 


ion-icon {
  font-size: 22px;
  padding-right: 8px;
  margin-bottom: -5px;
}

nav .img-logo{
  position: relative;
  height: 65px;
  width: auto;
  padding-top: 5px;
  margin-left: -20px;
  margin-bottom: -10px;
  filter: brightness(120%);
}

nav .menu .bar-row{
  width: 185px;
  border-top: 1px solid rgb(99, 92, 98);
  margin: 10px 0;
  margin-left: 28px;
}


.menu .live{
  background-color: red; 
  position: inherit;
  margin-left: 5px;
  font-size: 9px;
  font-style: normal;
  padding: 3px 7px;
  border-radius: 4px;
  color: #fff;
}

.menu .container{
  background: linear-gradient(45deg, rgb(109,81,228),rgb(180,103,218));
  height: 110px;
  width: 202px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 18px;

  
}

.menu .discrip{
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  color: #fff;
  padding-top: 15px;
}

.menu .btn{
  background: rgb(255,219,0);
  top: 0;
  left: 0;
  width: 162px;
  height: 30px;
  border-radius: 25px;
  border: transparent;
  transform: translate(12%, 5%);
  cursor: pointer;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #262626;
}

.menu .btn:hover{
  opacity: 0.9;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000000; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  position: relative;
  background: linear-gradient(45deg, rgb(111,10,148),rgb(187,8,112));
  margin: auto;
  width: 700px;
  height: 575px;
  border-radius: 10px;
 
}

.ctn-modal{
  display: flex;
  justify-content: center;
  
}

.modal-content .logo-modal{
  height: 80px;
  width: 80px;
}

.modal .vip-month{
  width: 200px;
  height: 315px;
  margin: 0 15px 0 15px;
  border-radius: 35px;
  transition: all 0.2s ease-out;
  box-shadow: 0px 5px 15px #333;

}
.modal .vip-month:hover{
  box-shadow: 0px 5px 15px #ccc;

}

.modal-content h1{

  margin-top: -8px;
  font-size: 28px;
  color: #fff;
  padding-bottom: 10px;
  
}

.modal-content .vipcode{
  margin-top: 22px;
  width: 660px;
  height: 100px;
  border-radius: 12px;
  transition: all 0.1s ease;
  opacity: 0.9;

}

.modal-content .vipcode:hover{
  opacity: 1;
}

/* The Close Button */
.close {
  position: absolute;
  right: 0;
  color: #aaaaaa;
  padding-right: 12px;
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.menu .cre-playlist{
  color: #fff;
  position:fixed;
  left: 0;
  bottom: 7em;
  border-top: 1px solid rgb(99, 92, 98);
  width: calc(242px + 24px);
  margin-left: -28px; 
  padding-left: calc(28px * 2);
}

.menu .cre-playlist:hover{
  color: #ccc;
}

.menu .txt{
  margin-top: 5px;
}
/* end navigation  */


/* begin HEADER  */
header{
  position: absolute;
  background: rgb(23,15,35);
  float: left;
  height: 72px;
  width: calc(100% - 238px);
  list-style: none;
  margin-left: 238px; 

  display: block;
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 9; /*Hiển thị lớp trên cùng*/
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 100px 80px rgba(0, 0, 0, 0.12) 
}

header .container-header li{
  float: left;
  margin-top: 5px;
}

.container-header .left{
  padding: 0 10px 0 34px;
}

.container-header .fa-solid{
  font-size: 22px;
  color: rgb(165, 153, 180);
  margin-top: 20px;
}

.container-header .fa-arrow-left-long, .fa-arrow-right-long{
  padding-right: 18px;
}

.container-header .search{
  margin-left: -25px;
}

.container-header .search .ser{
  position: absolute;
  padding-left: 40px;
  padding-top: 20px;
}

.container-header .searcher{
  position: inherit;
  width: 541px;
  height: 40px;
  border-radius: 20px;
  border: transparent;
  background: rgb(47, 37, 61);
  font-size: 15px;
  padding-left: 40px;
  margin-left: 30px;
  margin-top: 12px;
  color: #ccc;
}

.container-header .searcher::placeholder{ 
  color: #ccc;
}

.container-header .header-right{
  /* background-color: rgb(47, 37, 61); */
  width: 230px;
  height: 70px;
  float: right;
}


/* có sửa lại  */
.container-header .header-right>li{
  background: rgb(47, 37, 61);
  position: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 30px;
  margin-top: 20px;
  margin-right: 10px;
}

.container-header .header-right .icon{
  position: absolute;
  font-size: 22px;
  margin-top: -22px;
  margin-left: 9px;
  transition: all 0.2s ease;
  color: #fff;
  cursor: pointer;
}

.container-header .header-right .icon:hover{
  opacity: 0.6;
}



/* begin subnav cha */
.container-header .subnav{
  width: 240px;
  height: 460px;
  background: rgb(67,34,117);   
  display: none;
  position: absolute;
  margin-top: 10px;
  margin-left: -200px;
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container-header .subnav > li{
  display: flex;
  width: 100%;
  height: 100%/11;
}

.container-header .subnav a{
  color: #ccc;
  width: 100%;
  padding-left: 18px;
}

.container-header .subnav .line-row{
  width: 100%;
  border-bottom: 1px solid rgb(99, 92, 98);
}

.container-header .subnav .right-icon{
  float: right;
  padding-top: 10px;
}

.container-header .subnav>li:hover>a{
  color: #fff;
  background: #8B8791;   
} 

.container-header .icon3:hover .subnav{
  display:block;
} 
/* end subnav cha  */


/* begin subnav child */
.container-header .subnav-child, .subnav-child2{
  background: rgb(67,34,117);   
  display: none;
  position: absolute;
  width: 115%;
  margin-top: -10px;
  margin-left: -265px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  /* chung thuộc tính  */
}
.container-header .subnav-child{
  height: 155px;
} 

.container-header .subnav-child2{
  height: 98px;
}

.container-header .subnav-child li,
.container-header .subnav-child2 li{
  display: flex;
  width: 100%;
}

.container-header .subnav li:nth-child(2):hover .subnav-child,
.container-header .subnav li:nth-child(3):hover .subnav-child2{
  display:block;

}

.container-header .subnav-child li:hover a,
.container-header .subnav-child2 li:hover a{
  color: #fff;
  background: #8B8791;   

} 

.subnav .turn{
  width: 20px;
  height: 10px;
  border-radius: 10px;
  float: right;
  background: blueviolet;
  margin: 12px 12px;
}

.subnav-child {
  color: #fff;
}

.text{
  font-size: 12px;
  line-height: 15px;
  margin-top: -9px;
  padding-bottom: 5px;
}

.ticker{
  color: #fff;
  padding-left: 8px;
}
/* end subnav child */


/* end HEADER  */



content{
  position: absolute;
  height: 3500px;
  /* background: #ccc;  */
  /* width: 100%; */
  justify-content: center;
  text-align: center; 
  padding-left: 18%; /* padding-left: 262px; */
  padding-top: 110px;

}  
.container-content{
  position: relative;
  width: 100%;
  height: 390px;
} 


.slide-container{
  position: relative;
  height: 212px;
  
}


.img-content{
  position: absolute;
  margin-left: 15px;
  /* animation: slide 12s ease infinite; */
}
.img-content img{
  width: 375px;
  height: 212px;
  border-radius: 9px;
}

@keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -375px;}
  50% {margin-left: -375px;}
  60% {margin-left: -750px;}
  70% {margin-left: -750px;}
  80% {margin-left: -1500px;}
  90% {margin-left: -1500px;}
}

.container-content img{
  margin-right: 25px;
  
}

.btn-slider-top{
  width: 100%;
  position: absolute;
  display: flex;
  top: 19%;
  justify-content: space-between;
  width: 100%; 
  z-index: 5;
  cursor: pointer;

} 

.btn-slider-top .left{
  margin-left: 20px;
}

.btn-slider-top .right{
  margin-right: 40px;
}

.btn-slider-top .icon-slider-top{
  color: rgb(211, 209, 209);
  font-size: 60px;
  opacity: 0;
  transition: all 0.2s ease;
}
.container-name:hover .btn-slider-top .icon-slider-top{
  opacity: 1;
}

.container-name:hover .btn-slider-top .icon-slider-top:hover{
  opacity: 0.6;
}

/* begin banner ads  */
.container-content .banner-content{
   margin: 46px 0; 
  
}

.container-content .banner-content img{
  width: 1180px;
  height: 90px;
}
/* end banner ads  */





/*begin main content */
.main-content{
  display: inline-block;
  text-align: left;
  width: 1240px;
  height: 370px;
  margin: 0; 
  
}

.main-content #main-container{
  margin-left: 15px;

}

.main-content #main-container h2{
  color: #fff;
}

.main-content #main-container ul{
  display: inline-block;
  justify-content: center;
  white-space: nowrap;

}

.main-content #main-container ul li{
  float:left;
  padding-right: 27px;
  
}

.main-content #main-container ul li a{
  clear: left;
  line-height: 20px;
  color: #262626;
}

/* .main-content #main-container .img-hover{
  overflow: hidden;
  width: 214px;
  height: 214px;
  border-radius: 5px;
  margin: 10px 0;
  
} */
.main-content #main-container img{
  width: 100%;
  height: 100%;
  transition: all 1s;
  
} 


.main-content #main-container .figure-img:hover img{
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.main-content #main-container .title{
  color: #fff;
}

.main-content #main-container .title:hover{
  color: rgb(160, 125, 175);
  transition: all 0.3s ease;
}

.main-content #main-container .title-sub{
  color: #8B8791;

}



/* hover img effect  */
.figure-img {
  background-color: #000;
  display: inline-block;
  font-size: 14px;
  max-width: 214px;
  max-height: 214px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 5px; 
  margin: 17px 0 7px 0;

}

.figure-img img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.fav-img figcaption,
.figure-img figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  color: #fff;
  z-index: 2;
  opacity: 0;
}


.fav-img .play-icon,
.figure-img  .play-icon {
  font-size: 70px;
  margin: 0 10px;
}

.figure-img  .icon-temp,
.figure-img  .icon-temp {
  margin-bottom: 25px;

}

.fav-img a,
.figure-img a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

/* thêm cái fav-img  */
.fav-img:hover figcaption,
.fav-img.hover figcaption,
.figure-img:hover figcaption,
.figure-img.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}



/* .zingchart */
.zingchart .chue{
  display: inline-block;
  width: 1178px;
  height: 414px;
  /* margin-left: -23px; 
  margin-bottom: 20px; */
  margin: 0 0 20px -30px;
}
.zingchart .chue img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.zingchart .zingchart-tab{ 
  position: relative;
  margin-left: 15px;

}

.zingchart .zingchart-tab .zc-img{
  overflow: hidden;
  float: left;
  width: 375px;
  height: 108px;
  border-radius: 5px;
  margin: 0 26px 30px 0;
  

}

.zingchart .zingchart-tab img{
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.zingchart .zingchart-tab img:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} 


/* zingchoice */
.zingchoice{ 
  position: relative;
  display: inline-block;
  height: 200px;
  width: 1200px;
  /* overflow: hidden; */

}

.zingchoice img{
  width: 146px;
  height: 175px;
  margin-right: 22px;
  transition: all 0.2s ease-in;
}

.zc-slide {
  position:absolute;
}

.zingchoice img:hover{
  opacity: 0.7;

}
.zc-slide{
  position: absolute;
}


.zc-container{
  float: left;
  /* margin-left: 15px; */
}

.btn-slider-zc{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  z-index: 5;
  cursor: pointer;


}  

.btn-slider-zc .left{
  margin-left: -15px; 
}


.btn-slider-zc .icon-slider-zc{
  color: rgb(211, 209, 209);
  font-size: 40px;
  opacity: 0.9;
}

.btn-slider-zc .icon-slider-zc:hover{
  opacity: 0.5;
}









/* fav-content */
.fav-content{
  display: inline-block;
  text-align: left;
  margin-left: -12px;
}

.fav-content h2{
  color: #fff;
  padding-bottom: 15px;
}

.fav-content .fav-container{
  display: flex;
  justify-content: center; 
} 

.fav-content .fav-img{
  position: relative;
  background: #000;
  width: 375px;
  height: 340px;
  float: left;
  overflow: hidden;
  margin-right: 25px;
  border-radius: 5px;
}

.fav-content img{
  width: 100%;
  height: 100%;
  transition: all 1s;
}


.fav-img:hover img{
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}






/* .main-footer */

.main-footer{
  position: relative;

}

.main-footer h4{
  color: rgb(160, 125, 175);
  text-transform: uppercase;
  letter-spacing: 2px;
  left: 0;
  margin: 15px 0;
  
}

.main-footer h4:hover{
  color: rgb(180, 49, 236);
}

.main-footer img{
  width: 1110px;
  height: 167px;
  margin-left: -25px;
}



 


.snip1573 {
  background-color: #000;
  display: inline-block;
  font-size: 16px;
  margin-right: 25px;
  max-width: 375px;
  max-height: 212px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 9px;

}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;

}

.snip1573 .play-icon{
  font-size: 70px;
  color: #fff;
}


.snip1573 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

/* .snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.6;
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
} */



/* end main content */










:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}


html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.player {
  position: relative;
  /* max-width: 400px; */
  margin: 0 auto; 
  cursor: pointer;


}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  position: fixed;
  bottom: 0;
  z-index: 100;
  padding: 0 16px;
  background: #120C1C;
  width: 100%;
  height: 90px;
  /* max-width: 500px; */
  border-top: 1px solid rgb(66, 62, 66);
}

/* HEADER */
header1 {
  position: absolute;
  height: 100%;
  margin-left: 80px;
  /* background: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* header1 h4 {
  color: #ccc;
  font-size: 12px;
} */


/* CD */
.cd {
  position: absolute;
  width: 65px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
  display: flex;
  align-items: center;
} 

/* Reaction */
.icon-cover{
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-cover .contain-name{
  height: 100%;
}
.icon-cover .name-song {
  color: #fff;
  font-size: 16px;
  margin-right: 12px;
  letter-spacing: 1px;


}
.icon-cover .name-singer {
  color: #FFFFFF80;
  font-size: 12px;
  margin-top: 4px;
  letter-spacing: 1px;
  font-weight: normal;

}
.icon-cover .name-singer:hover {
  color: #c662ef;
  text-decoration: underline;
}

.control-sub .icon,
.icon-cover .icon-heart, 
.icon-cover .icon-ellipses{
  color: #fff;
  font-size: 14px;
  margin-left: 4px;
  background: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all ease 0.3s;

}


/* CONTROL */
.control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: -16px;
  padding: 12px 0 5px 0;
  z-index: 1000;
} 


.control .btn {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}
.control .btn:hover {
  background: #67686c;

}


.control .btn-toggle-play:hover {
  border: 2px solid rgb(176,101,218);
  color: rgb(176,101,218);
  background: transparent;
}

.control .btn.active {
  color: var(--primary-color);
} 

.control .btn-toggle-play {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  /* box-shadow: 2px 5px 15px rgb(252, 106, 130); */
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[type="range"]{
  margin: 0;
  padding: 0;
  width: 70px;
  height: 1.5em;
  background: transparent;
  outline: none;

}

[type="range"],
[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;

}

[type="range"]::-webkit-slider-thumb{
  box-sizing: border-box;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

[type="range"]::-moz-range-thumb{
  box-sizing: border-box;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.volume-panel{
  position: relative;
  width: 70px;

}


.volume-panel .input-div{
  position: absolute;
  top: 50%;
  width: 70px;
  height: 2.5px;
  cursor: pointer;


}

.volume-panel .input-div .volume-input-div{
  position: relative;
  width: 100%;
  height: 100%;
  background: #424244;
  border-radius: 10px;

}

.volume-input-div input{
  position: absolute;
  top: -8.5px;
  cursor: pointer;


}
.volume-input-div .volume-progress{
  background: #fff;
  width: 50px;
  height: 100%;
  border-radius: 10px;

}

.volume{
  width: 65px;
  height: 4px;
  cursor: pointer;

}
.control-sub{
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: -3;

}

.icon-cover .icon-heart:hover, 
.icon-cover .icon-ellipses:hover,
.control-sub .icon:hover{
  background: #67686c;


}


.control-sub .icon:active{
  color: #432275;
}
.control-sub .icon:hover{
  opacity: 0.8;
}

.control-sub .options{
  border-left: 1px solid #ccc;
  height: 20px;
  margin: 0 12px;
}

.line-mussic{
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  
}
.progress {
  width: 100%;
  margin-top: 55px;
  -webkit-appearance: none;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.1s;
  transition: opacity 0.1s;
  border-radius: 10px;
  cursor: pointer;


}
.progress:hover{
  opacity: 1;
}
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;

}

/* PLAYLIST */

.playlist {
    padding: 0 16px;
} 



.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: transparent;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.song:hover {
  background-color: #56575B;
}

.song.active {
  background-color: #7200A1;
  opacity: 0.9;
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-size: cover;
}

.song .thumb .thumb-play{
  width: 100%;
  height: 100%;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}

.song .body {
  flex: 1;
  padding: 0 8px;
}

.song .title {
  font-size: 13px;
}

.song .author {
  margin-top: 4px;
  font-size: 12px;
  color: #999;
}

.song .option{
  display: none;
  
}
.song:hover .thumb .thumb-play{
  display: block;
  width: 100%;
  height: 100%;
  display: flex;

}
.song:hover .option{
  display: block;

}
.option .option-heart,
.option .option-ellipsis{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

}
.option .option-heart:hover,
.option .option-ellipsis:hover{
  background-color: #67686c;

}






@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidetab {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidetab .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}













